/* media query for navigation bar */

@media screen and (max-width:770px) {
    /* nav */
    .menu {
        display: inline-block;
    }
    .nav-links {
        display: none;
    }
    .logo {
        width: 60%;
    }
/* hero-container-1-begins*/
    .hero{
        height: 950px;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .hero-container{
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .background{
        min-width: 480px;
    }

        .hero-text {
        flex-basis: 45%;
        text-align: center;
        width: 90%;
        }
        .hero-images {
        height: 50%;
        }
        .header-row{
            flex-direction: column;
        }
        .girl-text {
            left: 130px;
            top: 110px;
        }
       /* hero-container-1-ends */

       /* hero-container-2-begins */
                .hero-container-2 {
                    display: flex;
                    flex-direction: column;
                    height: 480px;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1em;
                }
                .hero-container-2 .header {
                    height: 10%;
                    margin-top: 1em;
                }
                .hero-container-2 .header h3 {
                    font-family: 'Kanit', sans-serif;
                }
                .hero-container-2 .header-row {
                    height: 90%;
                    border-radius: 10px;
                    width: 80%;
                    display: flex;
                    justify-content: space-around;
                    padding-top: 1em;
                }
                .header-col-1 {
                    height: 80%;
                    flex-basis: 27%;
                    padding: 0 0.5em;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                            0 6px 20px 0 rgba(0, 0, 0, 0.19);
                            background-color: #f2f2f2;
                }
                .header-col-1 .fa-solid {
                    font-size: 1.5em;
                    color: rgb(25, 110, 185);
                }
                .header-col-1 h4 {
                    font-family: 'Kanit', sans-serif;
                }
                .header-col-1 p {
                    font-family: 'Kanit', sans-serif;
                    color: #555;
                    font-size: 0.8rem;
                }
       /* hero-container-2-ends */

       /* hero-container-3-begins */
                .hero-container-3 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 800px;
                    background-color: #f2f2f2;
                    width: 100%;
                }
                .hero-container-3-text {
                    height: 45%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .hero-container-3-text h2 {
                    font-size: 2.5rem;
                    line-height: 3rem;
                    text-align: center;
                }
                .hero-container-3-text .icon {
                    text-align: center;
                }
                .hero-container-3-image {
                    height: 50%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
/* hero-container-3-ends */



/* payment-section-begins */
.payment-container {
    height: 840px;
    width: 100%;
    margin-bottom: 3em;
    background-color: rgb(25, 110, 185);
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.payment-form {
    width: 400px;
    background-color: #ffff;
    /* border: 1px solid #555; */
    border-radius: 1em;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 2px solid red; */
    height: 520px;
}

.payment-text {
    margin-top: 1em;
    width: 100%;
    padding: 0;
    min-width: 330px;
    /* border: 2px solid red; */
    height: 230px;
    text-align: center;
}

.payment-form p {
    text-align: center;
    color: #000;
    font-family: 'Kanit', sans-serif;
    font-size: 0.8rem;
}

#check-form {
    display: inline-block;
}
/* payment-section-ends */
}


@media screen and (max-width:500px) {
        /* nav */
        .fa-comment {
            font-size: 1.5rem;
            }
        
        .logo h1 {
            font-size: 1.5rem; }
    /* hero-container-1-begins*/
    /* hero-text begins */
        .hero-text-header {
            font-size: 2rem;
            line-height: 3rem;
            font-family: 'Kanit', sans-serif;
            margin-bottom: 0.5em;
        }
        form {
            margin-top: 2em;
        }
        #email {
            padding: 1em 5em;
            border: 0.2 solid #555;
            border-radius: 2rem;
        }
        button[type=button] {
            background-color: rgb(25, 110, 185);
            border: none;
            padding: 1.2em 3.0em;
            border-radius: 2rem;
            cursor: pointer;
        }
        /* hero-text-ends */

        /* hero-image-begins */
.background{
    min-width: 350px;
}

.girl{
    top: 70px;
    left: 16px;
    height: 220px;
    width: 150px;
}
.girl-text{
    left: 10px;
    top: 90px;
}
.boy {
    height: 220px;
    width: 150px;
}
.color3 {
    left: 100px;
}
 /* hero-image-ends */
  /* hero-container-1-ends */
.payment-form {
    width: 320px;
    border: 2px solid red;
}
}

@media screen and (max-width:410px){
        /* hero-container-3-begins */
.hero-container-3-text h2 {
    font-size: 2rem;
    line-height: 2.5rem;
            }
.hero-container-3 {
    height: 580px;
}
.circle1{
    min-width: 300px;
    min-height: 300px;
    border: 0.01em solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    
}
.circle2 {
    min-width: 150px;
    min-height: 150px;
    border: 0.01em solid #555;
    border-radius: 50%;
    position: relative;
}
.circle2 img {
    min-width: 150px;
    height: 180px;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
}
.image1{
    min-width: 70px;
    min-height: 70px;
    border-radius: 50%;
}
.image2 {
    min-width: 50px;
    min-height: 50px;
}
.image3 {
    min-width: 30px;
    min-height: 30px;
}
.image4 {
    min-width: 45px;
    min-height: 45px;
}
 /* hero-container-3-ends */
}




